._CollateralType_1uudi_1 {
    display: flex;
    align-items: center;
    font-weight: 500;
    color: #fff;
    gap: 4px
}

._CollateralType_1uudi_1 svg {
    font-size: 16px
}

._green_1uudi_11 path {
    fill: #16bf6a
}

._details_button_wrap_11min_1 {
    display: none
}

@media screen and (max-width: 960px) {
    ._details_button_wrap_11min_1 {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 0;
        flex-grow: 1
    }
}