._descend_1tyjy_1 {
    transform: rotate(180deg)
}

._none_1tyjy_4 path {
    opacity: .4
}

._Empty_obg2g_1 {
    margin: 0 auto;
    text-align: center
}

._Description_obg2g_5 {
    color: #fff6
}